[submodule "explore-subgoal"]
	path = explore-subgoal
	url = https://github.com/isabelle-utp/explore-subgoal

[submodule "interaction-trees"]
	path = interaction-trees
	url = https://github.com/isabelle-utp/interaction-trees

[submodule "Optics"]
	path = Optics
	url = https://github.com/isabelle-utp/Optics

[submodule "Shallow-Expressions"]
	path = Shallow-Expressions
	url = https://github.com/isabelle-utp/Shallow-Expressions

[submodule "Total_Recall"]
	path = Total_Recall
	url = https://github.com/isabelle-utp/Total_Recall

[submodule "utp-main"]
	path = utp-main
	url = https://github.com/isabelle-utp/utp-main

[submodule "Z_Machines"]
	path = Z_Machines
	url = https://github.com/isabelle-utp/Z_Machines

[submodule "Z_Toolkit"]
	path = Z_Toolkit
	url = https://github.com/isabelle-utp/Z_Toolkit
[submodule "UTP"]
	path = UTP
	url = https://github.com/isabelle-utp/UTP
[submodule "mirror-afp-2022"]
	path = mirror-afp-2022
	url = https://github.com/isabelle-utp/mirror-afp-2022
[submodule "Hybrid-Library"]
	path = Hybrid-Library
	url = https://github.com/isabelle-utp/Hybrid-Library.git
[submodule "CAS-Integration"]
	path = CAS-Integration
	url = https://github.com/isabelle-utp/CAS-Integration.git
[submodule "Hybrid-Verification"]
	path = Hybrid-Verification
	url = https://github.com/isabelle-utp/Hybrid-Verification.git
